body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: rgba(210, 180, 140, 0);
  border-color: rgb(100 116 139);
  color: rgb(91, 98, 103)
}
/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.products {
  display: flex;
  justify-content: center;
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 2px;
  white-space: nowrap;
  overflow-x: auto;
  }

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.product-name{
  text-decoration: none;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

/* .checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
} */

.checkout-steps > div {
  border-bottom: 0.2rem solid mediumaquamarine;
  color: mediumaquamarine;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid teal;
  color: teal;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100vh;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
  overflow-y: auto;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}

.categLink{
  color: antiquewhite;
}

.featured{
  font-weight: 500;
  margin-top: 62px;
  padding-bottom:42px ;
  text-align: center;
}

.navigation{
  //background-image: linear-gradient(to right, #434343 0%, black 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  //margin-top: 24px;
  margin-bottom: 24px
 
}

.footer{
  //background-image: linear-gradient(to right, #434343 0%, black 100%);
  padding-left: 24px;
  padding-top: 24px;
  margin-bottom: 24px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.11);

}

.card-img-top{
  width: 100%;
  max-wiidth: 400px;
}
.banner{
 /*  padding: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 */
 padding: 12px;
 background: rgba(255, 255, 255, 0.25);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(7.2px);
 -webkit-backdrop-filter: blur(7.2px);
 border: 1px solid rgba(255, 255, 255, 0.11);
}